{% extends "admin/import_export/base.html" %}
{% load static migration_extras %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
    <script type="text/javascript">
        local_layers = {'layers': []};
        $(document).ready(
            function() {
                local_layers = {{ local_status|safe }};
                // The below code taken nearly verbatim from bassjobsen's Bootstrap3-Typeahead example:
                // https://github.com/bassjobsen/Bootstrap-3-Typeahead#using-json-objects-instead-of-simple-strings
                var $input = $(".typeahead");
                $input.typeahead({
                    source: local_layers['layers'],
                    autoSelect: true
                });
                $input.change(function() {
                    $this = $(this);
                    var current = $this.typeahead("getActive");
                    if (current){
                        // Some item from your model is active!
                        
                        if (current.name == $this.val()) {
                            // This means the exact match is found. Use toLowerCase() if you want case insensitive match.
                            $('#' + this.id + '_id').val(current.local_pk);
                        } else {
                            // This means it is only a partial match, you can either add a new item
                            // or take the active if you don't want new items
                            $('#' + this.id).val(null);
                            $('#' + this.id + '_id').val(null);
                        }
                    } else {
                        // Nothing is active so it is a new value (or maybe empty value)
                        $('#' + this.id).val(null);
                        $('#' + this.id + '_id').val(null);
                    }
                });
            }
        );

        begin_sync = function(uuid) {
            let local_id = null;
            // local_id = $('#'+ uuid + '_local_merge_selection').val()
            $.post('/data_manager/migration/merge_layer', {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                'portal_id': "{{remote_portal.id }}",
                'local_id': $("#" + uuid + "_local_merge_selection_id").val(),
                'remote_uuid': uuid
            });
        };
    </script>
{% endblock %}

{% block content %}

    <h1>Remote Comparison</h1>
    {% csrf_token %}
    {% if not results.code == 200 %}
        <h2>Error:</h2>
        <p>{{results.message}}</p>
    {% else %}
        <p>Import from: <a href="{{ remote_portal.url }}" target="_blank"><b>{{ remote_portal.name }}</b></a></p>
        <table>
            <tr>
                <th>Theme</th>
                <th>Merge</th>
                <th>Name</th>
                <th>Status</th>
                <th>Local Layer</th>
            </tr>
            {% for theme in remote_status.themes %}
                <tr>
                    <th>{{ theme.name }}</th>
                    <td>------------</td>
                    <td>------------------------------------------------------------------------------</td>
                    <td>----------</td>
                    <td>--------------------------------------------</td>
                </tr>
                {% for layer in theme.layers %}
                    {% if not remote_status.layers|get_item:layer.uuid|get_item:"source" == 'local' %}
                        <tr id="layer_row_{{theme.uuid}}_{{layer.uuid}}" class = "layer_row_{{layer.uuid}}">
                            <td>{{ theme.name }}</td>
                            <td>
                                <button type="button" onclick="begin_sync('{{layer.uuid}}', '{{theme.uuid}}_{{layer.uuid}}')">
                                    {% if remote_status.layers|get_item:layer.uuid|get_item:"source" == 'match' %}
                                        Sync
                                    {% else %}
                                        Import
                                    {% endif %}
                                </button>
                            </td>

                            <td>{{ remote_status.layers|get_item:layer.uuid|get_item:"remote_name" }}</td>
                            
                            <td>
                                {% if remote_status.layers|get_item:layer.uuid|get_item:"newest" == 'remote' %}
                                    newer
                                {% elif remote_status.layers|get_item:layer.uuid|get_item:"newest" == 'local' %}
                                    older
                                {% else %}
                                    {% if remote_status.layers|get_item:layer.uuid|get_item:"source" == 'match' %}
                                        match
                                    {% else %}
                                        new
                                    {% endif %}
                                {% endif %}
                            </td>

                            <td>
                                <input id="{{theme.uuid}}_{{layer.uuid}}_local_merge_selection" type="text" class="typeahead" data-provide="typeahead" placeholder="Create New">
                                <input id="{{theme.uuid}}_{{layer.uuid}}_local_merge_selection_id" type="text">
                            </td>
                        </tr>
                        {% for sublayer in layer.sublayers %}
                            <tr id="layer_row_{{theme.uuid}}_{{layer.uuid}}_{{sublayer.uuid}}" class = "layer_row_{{sublayer.uuid}}">
                                <td>{{ theme.name }}</td>
                                <td>
                                    <button type="button" onclick="begin_sync('{{sublayer.uuid}}', '{{theme.uuid}}_{{layer.uuid}}_{{sublayer.uuid}}')">
                                        {% if remote_status.layers|get_item:sublayer.uuid|get_item:"source" == 'match' %}
                                            Sync
                                        {% else %}
                                            Import
                                        {% endif %}
                                    </button>
                                </td>

                                <td>-----------------> {{ remote_status.layers|get_item:sublayer.uuid|get_item:"remote_name" }}</td>
                                
                                <td>
                                    {% if remote_status.layers|get_item:sublayer.uuid|get_item:"newest" == 'remote' %}
                                        newer
                                    {% elif remote_status.layers|get_item:sublayer.uuid|get_item:"newest" == 'local' %}
                                        older
                                    {% else %}
                                        {% if remote_status.layers|get_item:sublayer.uuid|get_item:"source" == 'match' %}
                                            match
                                        {% else %}
                                            new
                                        {% endif %}
                                    {% endif %}
                                </td>

                                <td>
                                    <input id="{{theme.uuid}}_{{layer.uuid}}_{{sublayer.uuid}}_local_merge_selection" type="text" class="typeahead" data-provide="typeahead" placeholder="Create New">
                                    <input id="{{theme.uuid}}_{{layer.uuid}}_{{sublayer.uuid}}_local_merge_selection_id" type="text">
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}

                {% endfor %} 

            {% endfor %}
        </table>
    {% endif %}

{% endblock %} {# end content #}