{% extends "admin/import_export/base.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
    <script type="text/javascript">
        local_layers = {'layers': []};
        $(document).ready(
            function() {
                local_layers = {{ local_status|safe }};
                // The below code taken nearly verbatim from bassjobsen's Bootstrap3-Typeahead example:
                // https://github.com/bassjobsen/Bootstrap-3-Typeahead#using-json-objects-instead-of-simple-strings
                var $input = $(".typeahead");
                $input.typeahead({
                    source: local_layers['layers'],
                    autoSelect: true
                });
                $input.change(function() {
                    var current = $input.typeahead("getActive");
                    if (current) {
                        // Some item from your model is active!
                        if (current.name == $input.val()) {
                        // This means the exact match is found. Use toLowerCase() if you want case insensitive match.
                        } else {
                        // This means it is only a partial match, you can either add a new item
                        // or take the active if you don't want new items
                        }
                    } else {
                        // Nothing is active so it is a new value (or maybe empty value)
                    }
                });
            }
        );
    </script>
{% endblock %}

{% block content %}

    <h1>Remote Comparison</h1>
    {% if not results.code == 200 %}
        <h2>Error:</h2>
        <p>{{results.message}}</p>
    {% else %}
        <p>Import from: <a href="{{ remote_portal.url }}" target="_blank"><b>{{ remote_portal.name }}</b></a></p>
        <table>
            <tr>
                <th>Merge</th>
                <th>Name</th>
                <th>Status</th>
                <th>Local Layer</th>
            </tr>
            {% for layer in remote_status.layers %}
                {% if not layer.source == 'local' %}
                    <tr id="layer_row_{{layer.id}}">
                        <td>
                            {% if layer.source == 'match' %}
                                <button type="button" onclick="window.alert('sync {{layer.id}}')">
                                    sync
                                </button>
                            {% else %}
                                <button type="button" onclick="window.alert('import {{layer.id}}')">
                                    import
                                </button>
                            {% endif %}
                        </td>
                        
                        <td>{{ layer.remote_name }}</td>
                        
                        <td>
                            {% if layer.newest == 'remote' %}
                                newer
                            {% elif layer.newest == 'local' %}
                                older
                            {% else %}
                                {% if layer.source == 'match' %}
                                    match
                                {% else %}
                                    new
                                {% endif %}
                            {% endif %}
                        </td>

                        <td>
                            <input type="text" class="typeahead" data-provide="typeahead" placeholder="Create New">
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}

{% endblock %} {# end content #}