{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/data_manager/css/layer_form.css' %}">


  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/select2/select2.full.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/knockout-3.3.0.js' %}"></script>
  <script type="text/javascript">
    CATALOG_TECHNOLOGY = '{{ CATALOG_TECHNOLOGY }}';
  </script>
  {% ifequal CATALOG_TECHNOLOGY 'GeoPortal2' %}
    <!-- <script type="text/javascript" src="/geoportal/app/etc/ServiceType.js"></script> -->
  {% endifequal %}
  <script type="text/javascript" src="{% static 'data_manager/js/layer_form.js' %}"></script>
  <script type="text/javascript" src="{% static 'data_manager/js/catalog/'|add:CATALOG_TECHNOLOGY|add:'.js' %}"></script>
{% endblock %}

{% block field_sets %}
  {% for fieldset in adminform %}
    {% include "admin/includes/LayerFieldset.html" %}
  {% endfor %}
{% endblock %}

{% block content %}
  {{ block.super}}
  <div id="spinner-dialog" title="Loading..."><img src="{% static 'wagtailadmin/images/spinner.gif' %}" /></div>
{% endblock %}

{% block after_related_objects %}
  <!--<h2>{{ test }}</h2>-->
{% endblock %}
