{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lib/knockout-3.3.0.js' %}"></script>
  <script type="text/javascript" src="{% static 'data_manager/js/layer_form.js' %}"></script>
{% endblock %}

{% block field_sets %}
  {% for fieldset in adminform %}
    {% include "admin/includes/LayerFieldset.html" %}
  {% endfor %}
{% endblock %}

{% block after_related_objects %}
  <!--<h2>{{ test }}</h2>-->
{% endblock %}
